In [74]:
import sqlite3

In [75]:
con = sqlite3.connect('Lib_data_base.sqlite')

In [76]:
con

In [77]:
cur = con.cursor()

In [79]:
cur.execute('insert into BOOK(Book_id, Title, Publish_name, Publish_year)values(?, ?, ?, ?)',(1, 'The Pilgrim\'s Progress', 'John Bunyan', 1678))

In [80]:
cur.execute('insert into BOOK(Book_id, Title, Publish_name, Publish_year)values(?, ?, ?, ?)',(2, 'Robinson Crusoe', 'Daniel Defoe', 1719))

In [81]:
cur.execute('insert into BOOK(Book_id, Title, Publish_name, Publish_year)values(?, ?, ?, ?)',(3, 'Gulliver\'s Travels', 'Jonathan Swift',  1726))

In [82]:
cur.execute('insert into BOOK(Book_id, Title, Publish_name, Publish_year)values(?, ?, ?, ?)',(4, 'Clarissa', 'Samuel Richardson',  1748))

In [83]:
cur.execute('insert into BOOK(Book_id, Title, Publish_name, Publish_year)values(?, ?, ?, ?)',(5, 'Tom Jones', 'Henry Fielding',  1749))

In [84]:
cur.execute('insert into B_copies(Book_id, Programme_id, No_of_copies)values(?, ?, ?)',(1, 45, 20))

In [85]:
cur.execute('insert into B_copies(Book_id, Programme_id, No_of_copies)values(?, ?, ?)',(2, 55, 40))

In [86]:
cur.execute('insert into B_copies(Book_id, Programme_id, No_of_copies)values(?, ?, ?)',(3, 65, 60))

In [87]:
cur.execute('insert into B_copies(Book_id, Programme_id, No_of_copies)values(?, ?, ?)',(4, 75, 80))

In [88]:
cur.execute('insert into B_copies(Book_id, Programme_id, No_of_copies)values(?, ?, ?)',(5, 85, 100))

In [89]:
cur.execute('insert into B_lending(Book_id, Programme_id, Card_no, Date_out, Due_Date)values(?, ?, ?, ?, ?)',(1, 45, 'A15', '1-02-2017', '8-02-2017'))

In [90]:
cur.execute('insert into B_lending(Book_id, Programme_id, Card_no, Date_out, Due_Date)values(?, ?, ?, ?, ?)',(2, 55, 'B16', '2-02-2017', '9-02-2017'))

In [91]:
cur.execute('insert into B_lending(Book_id, Programme_id, Card_no, Date_out, Due_Date)values(?, ?, ?, ?, ?)',(3, 65, 'C17', '11-02-2017', '19-02-2017'))

In [92]:
cur.execute('insert into B_lending(Book_id, Programme_id, Card_no, Date_out, Due_Date)values(?, ?, ?, ?, ?)',(4, 75, 'D18', '02-03-2017', '10-03-2017'))

In [93]:
cur.execute('insert into B_lending(Book_id, Programme_id, Card_no, Date_out, Due_Date)values(?, ?, ?, ?, ?)',(5, 85, 'E19', '15-05-2017', '23-05-2017'))

In [94]:
cur.execute('insert into Book_Author(Book_id, Author_Name)values(?, ?)',(1, 'John Bunyan'))

In [95]:
cur.execute('insert into Book_Author(Book_id, Author_Name)values(?, ?)',(2, 'Daniel Defoe'))

In [96]:
cur.execute('insert into Book_Author(Book_id, Author_Name)values(?, ?)',(3, 'Jonathan Swift'))

In [97]:
cur.execute('insert into Book_Author(Book_id, Author_Name)values(?, ?)',(4, 'Samuel Richardson'))

In [98]:
cur.execute('insert into Book_Author(Book_id, Author_Name)values(?, ?)',(5, 'Henry Fielding'))

In [99]:
cur.execute('insert into Lib_Programme(Programme_id, Programme_name, Address)values(?, ?, ?)',(45, 'Borrow', 'No.7 ABc Layout'))

In [100]:
cur.execute('insert into Lib_Programme(Programme_id, Programme_name, Address)values(?, ?, ?)',(55, 'Rent', '65 street 45apartment'))

In [101]:
cur.execute('insert into Lib_Programme(Programme_id, Programme_name, Address)values(?, ?, ?)',(65, 'Buy', '25th avenue'))

In [102]:
cur.execute('insert into Lib_Programme(Programme_id, Programme_name, Address)values(?, ?, ?)',(75, 'Borrow', '45684 alley'))

In [103]:
cur.execute('insert into Lib_Programme(Programme_id, Programme_name, Address)values(?, ?, ?)',(85, 'Loan', '9 3 by 4'))

In [104]:
cur.execute('insert into Publisher(name, Address, Phone_num)values(?, ?, ?)',('Harry', 'No.7 ABc Layout', '985631755'))

In [105]:
cur.execute('insert into Publisher(name, Address, Phone_num)values(?, ?, ?)',('Ron', '65 street 45apartment', '754616545'))

In [106]:
cur.execute('insert into Publisher(name, Address, Phone_num)values(?, ?, ?)',('Hermione', '25th avenue', '9564652163'))

In [107]:
cur.execute('insert into Publisher(name, Address, Phone_num)values(?, ?, ?)',('Draco', '45684 alley', '6564894657'))

In [108]:
cur.execute('insert into Publisher(name, Address, Phone_num)values(?, ?, ?)',('Hagrid', '9 3 by 4', '5634768735'))

In [109]:
cur.execute('select * from BOOK')

In [110]:
for rows in cur:
    print(rows)

(1, "The Pilgrim's Progress", 'John Bunyan', 1678)
(2, 'Robinson Crusoe', 'Daniel Defoe', 1719)
(3, "Gulliver's Travels", 'Jonathan Swift', 1726)
(4, 'Clarissa', 'Samuel Richardson', 1748)
(5, 'Tom Jones', 'Henry Fielding', 1749)

In [111]:
cur.execute('select * from B_Copies')
for rows in cur:
    print(rows)

(1, 45, 20)
(2, 55, 40)
(3, 65, 60)
(4, 75, 80)
(5, 85, 100)

In [112]:
cur.execute('select * from B_lending')
for rows in cur:
    print(rows)

(1, 45, 'A15', '1-02-2017', '8-02-2017')
(2, 55, 'B16', '2-02-2017', '9-02-2017')
(3, 65, 'C17', '11-02-2017', '19-02-2017')
(4, 75, 'D18', '02-03-2017', '10-03-2017')
(5, 85, 'E19', '15-05-2017', '23-05-2017')

In [113]:
cur.execute('select * from Book_Author')
for rows in cur:
    print(rows)

(1, 'John Bunyan')
(2, 'Daniel Defoe')
(3, 'Jonathan Swift')
(4, 'Samuel Richardson')
(5, 'Henry Fielding')

In [114]:
cur.execute('select * from Lib_Programme')
for rows in cur:
    print(rows)

(45, 'Borrow', 'No.7 ABc Layout')
(55, 'Rent', '65 street 45apartment')
(65, 'Buy', '25th avenue')
(75, 'Borrow', '45684 alley')
(85, 'Loan', '9 3 by 4')

In [115]:
cur.execute('select * from Publisher')
for rows in cur:
    print(rows)

('Harry', 'No.7 ABc Layout', '985631755')
('Ron', '65 street 45apartment', '754616545')
('Hermione', '25th avenue', '9564652163')
('Draco', '45684 alley', '6564894657')
('Hagrid', '9 3 by 4', '5634768735')

In [116]:
cur.execute('create view publication as select Publish_year from BOOK')

In [118]:
cur.execute('select * from publication')
for rows in cur:
    print(rows)

(1678,)
(1719,)
(1726,)
(1748,)
(1749,)

In [131]:
cur.execute("create view LEnding as select Card_no from B_Lending where Date_Out between '1/1/17'and '1/5/17' group by Card_no having count(*)>3")

In [132]:
cur.execute('select * from borrow')
for rows in cur:
    print(rows)

In [128]:
cur.execute("delete from BOOK where Publish_name='John Bunyan'")

In [130]:
cur.execute('select * from BOOK')
for rows in cur:
    print(rows)

(2, 'Robinson Crusoe', 'Daniel Defoe', 1719)
(3, "Gulliver's Travels", 'Jonathan Swift', 1726)
(4, 'Clarissa', 'Samuel Richardson', 1748)
(5, 'Tom Jones', 'Henry Fielding', 1749)

In [133]:
cur.close()

In [134]:
con.commit()